<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/personal_dashboard.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {% block styles %}{% endblock %}
</head>
<body>
    <div class="left-pane">
        <a href="/"><b>Patient Details</b></a>
        <a href="/log_symptom"><b>Log Symptoms</b></a>
        <a href="/history"><b>History</b></a>
        <a href="/recommendations"><b>Recomendations</b></a>
    </div>

    {% block content %}{% endblock %}
    
 

     </body>
</html>