{% extends "base.html" %}
    {% block styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/forms.css')}}">
{% endblock %}
{% block title %}Recommendations{% endblock %}
{% block content %}
<div class="content">
<div class="container">
            <form action="/get_recommendations" method="post">
      <h1>Enter Patient ID to get recommendations</h1>
      <div class="input-container">
          <div class="heading-container">
            <label for="">Patient ID:</label>

          </div>
          <div class="field-container">
            <input type="text" name="p_id" placeholder="Eg: 2337">
            </div>
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
<div>
    <div>
        <h2>Description</h2>
        <ul>
           
           <li>{{ description }}</li>
            
        </ul>
        
        <h2>Precautions</h2>
        <ul>
            {% for item in precaution %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
        <h2>Diet & Workout Recommendations</h2>
        <ul>
            {% for item in workout %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
</div>
{% endblock %}



    
